@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Dosis:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
background-color: #fca5a5;
font-family: 'Baloo Bhaijaan 2', cursive;
font-family: 'Dosis', sans-serif;
}

.navbar{
    background-color:#164e63;
    padding: 1rem;
border-bottom-right-radius: 2rem;
border-bottom-left-radius:2rem ;
}
.nav-option{
    color: white;
padding: 0rem 1rem ;
text-decoration: none;
}
.heading{
    text-align: center;
    padding: 2rem 0rem;

}
.grp1,.grp2,.grp3{
    text-align: center;
}

input{
    margin: 1rem;
}

.btn{
text-align: center;
}

.submit-button{
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #164e63;
    width: 6rem;

}

.answer{
    padding: 2rem;
    font-weight: bold;
    text-align: center;
}
.active{
    font-weight: bold;
    font-size: larger;
}
